.text-danger {
    text-align: start;
    margin-left: 7px;
}
footer{
    background-color: rgb(114, 129, 177);
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 8%;
    color: white;
    text-align: left;
  }
  body {
    height: 400px;
    background-image: url("images/fondo.jpg");
     background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
}
