/* You can add global styles to this file, and also import other style files */
body {
    height: 400px;;
    width: auto;
    background-image: url("images/fondo.jpg");
     background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
}

.titulo {
    font-size: 1.8rem;
    font-family: 'Montserrat', sans-serif;
}